img{
    Position:relative;
    left: 10px;
    bottom:0px;
    width:40%;
    display:block;}

video{
    Position:relative;
    left:800px;
    top: -400px;
    display:block;}
    

h1 {
  color:darkorange
}

p2{
    
    color:SlateBlue;
    font-family: "calibri", Times, serif;
}

span{
    text-decoration: underline;
    color:DeepPink;}

 body{
        background-image:url(image/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    }